@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
}

/* variables */
:root{
    --main_background: hsl(222, 26%, 31%);
    --toggleKepPadBackground : hsl(223, 31%, 20%);
    --screenBackground: hsl(224, 36%, 15%);
    --keyBackground: hsl(30, 25%, 89%);
    --numBackground: hsl(221, 14%, 31%);
    --whiteColor: hsl(0, 0, 100%);
    --keySpecialBackground: hsl(225, 21%, 49%);
    --redColor: hsl(6, 63%, 50%);
}


.wrapper{
    width: 100vw;
    height: 100vh;
    background: var(--main_background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container{
    width: 85%;
    height: 90%;
    display: grid;
    grid-template-rows: 10% 20% 70%;
    grid-template-areas: header results buttons;
}

.header{
    margin-bottom: 30px;
    grid-template: header;
    color: white;
    background: var(--toggleKepPadBackground);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    justify-content: space-between;
}

.header .title{
    display: flex;
    align-items: center;
    height: 50%;
}

.header .toggle{
    width: 75px;
    height: 50%;
    background: blue;
}


.results{
    grid-template: results;
    margin-bottom: 30px;
    border-radius: 10px;
    background: var(--screenBackground);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 50px;
}

.buttons{
    grid-template: buttons;
    border-radius: 10px;
    background: var(--toggleKepPadBackground);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
}

.button{
    background: var(--keyBackground);
    color: var(--numBackground);
    border-radius: 5px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.button-v1{
    text-transform: uppercase;
    font-size: 20px;
    background: var(--keySpecialBackground);
    color: white;
}

.button-v2{
    background: var(--redColor);
    color: white;

}

.span2{
    grid-column: span 2;
}

.dot{
    align-items: flex-end;
    padding-bottom: 15px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }