@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
}

*::after, *::before {
    box-sizing: inherit;
}

/* variables */
:root{
    --main_background: hsl(222, 26%, 31%);
    --toggleKepPadBackground : hsl(223, 31%, 20%);
    --screenBackground: hsl(224, 36%, 15%);
    --keyBackground: hsl(30, 25%, 89%);
    --numBackground: hsl(221, 14%, 31%);
    --whiteColor: hsl(0, 0, 100%);
    --keySpecialBackground: hsl(225, 21%, 49%);
    --redColor: hsl(6, 63%, 50%);
}


.wrapper{
    width: 100vw;
    height: 100vh;
    background: var(--main_background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container{
    width: 85%;
    max-width: 500px;
    height: 80%;
    display: grid;
    grid-template-rows: 10% 20% 70%;
    grid-template-areas: header results buttons;
}

.header{
    margin-bottom: 30px;
    grid-template: header;
    color: white;
    background: var(--toggleKepPadBackground);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    justify-content: space-between;
    height: 40px;
}

.results{
    grid-template: results;
    margin-bottom: 30px;
    border-radius: 10px;
    background: var(--screenBackground);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 50px;
}

.buttons{
    grid-template: buttons;
    border-radius: 10px;
    background: var(--toggleKepPadBackground);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
}

.button{
    background: var(--keyBackground);
    color: var(--numBackground);
    border-radius: 5px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}

.button-v1{
    text-transform: uppercase;
    font-size: 1rem;
    background: var(--keySpecialBackground);
    color: white;
}

.button-v2{
    background: var(--redColor);
    color: white;
}

.span2{
    grid-column: span 2;
}

.dot{
    align-items: flex-end;
    padding-bottom: 15px;
}
